--allow-all-external
--allow-unverified django-graphos
Django
dj-database-url
dj-static
django-toolbelt
gunicorn
psycopg2
static3
wsgiref
cython
django-bootstrap3
django-graphos==0.0.2a0
pyyaml
pandas
astropy
h5py
tardis-sn