{% extends 'tardis_simulator/base.html' %}

{% load bootstrap3 %}

{% block title %}
Tardis
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    Demo:
  </div>
  <div class="panel-body">
    This is a demo of tardis running on a Heroku dyno.<br />
    Click "RUN" to run tardis against the standard test example.<br />
    <strong>Note:</strong><br />
    Synchronous: May take a minute.
    <a class="btn btn-primary" href="{% url 'chart' %}">RUN</a>
  </div>
</div>
{% endblock %}
  