{% extends 'skeleton.html' %}

{% block title %}
  TARDIS-Submit
{% end %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    TARDIS Configuration files
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-2 control-label" for="id_conf">Configuration File</label><div class="col-md-4"><input class="form-control" id="id_conf" name="conf" required="required" type="file" />
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="id_atom">Atomic Database File</label><div class="col-md-4"><input class="form-control" id="id_atom" name="atom" required="false" type="file" />
    </div>
    <br />
    <div class="form-group">
      <button class="btn btn-primary" type="submit">SUBMIT</button>
      <button class="btn" type="reset">RESET</button>
    </div>
  </div>
</div>

{% end %}